---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Work | Stefan Roets" description="Work Reacord">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Employment History"
				tagline="A Brief history of my past employment"
			>
				<img
					width="1553"
					height="873"
					src="/assets/work-summary.jpg"
					alt="work space"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Water Does It</h2>
				<div class="content">
					<h5>Pluming and Water Purification (2015 - Present)</h5>
					<p>Duties and Responsibilities:<br/>
						Doing measurements and planning for the job,
						from fitting geysers, solar systems building water plants,
						fitting 3 stage water filtration systems,
						putting in mega chars and softeners testing the water pressure
						and testing the waters TDS (Total dissolved solids) levels.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Rafterz: late night live </h2>
				<div class="content">
					<h5>Bartending / Day Time manager (January 2017 - October 2019 )</h5>
					<p>Duties and Responsibilities:<br/>
						Running of bar area, counting and checking the till float each day,
						packing cold room and freezers, paying and double-checking stock that comes in,
						report problems that may occur or fix them and be a general host / customer service (house keeping)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Carbon Fibre Design Pty Ltd </h2>
				<div class="content">
					<h5>Manufacturing Technician (August 2016 - December 2016)</h5>
					<p>Duties and Responsibilities:<br/>
					Working on a production line making fiberglass pipes for clients.
					Making set targets on a weekly bases
					See that everything in the production line is running smoothly and report any problems or try and fix it. </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Stefan Roets Photography </h2>
				<div class="content">
					<h5>Photographer(January 2009 - Present )</h5>
					<p>Duties and Responsibilities:<br/>
						Seeing all the clients coming up with an idea and a concept,
						setting a date for the shoot and agree on a price that acceptable for both parties.
						Doing all the editing on Photoshop, retouching the images so that they are ready for printing whether it’s on canvas or photo paper etc.
						Graphic design work is also done as well as the making of business cards and logs for new companies or existing companies that is looking for a new fresh look,
						this is done using adobe illustrator. Doing all the promotion and event planning, whenever I am exhibiting my artwork. </p>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
